{% extends 'core/base.html' %}

{% load static %}

{% block title %}Acerca de Mi{% endblock %}

{% block background %}{% static 'core/img/espaciodefinitivo.jpg' %}{% endblock %}

{% block headers %}
    <h1>Acerca de MI</h1>
    <span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" 
            src="{% static 'core/img/evilmonkey.gif' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">VICTOR ORELLANA MOYA</h2>   
        <p class="container">
            Auto denominado V.O.M. Naci en Santiago, Chile en el año 1996. Actualmente con 24 años, me encuentro libre de tiempo para
            aprender y reforzar mis aptitudes para la programacion. De igual forma, estoy en constantes cambios de objetivos, pero
            con una meta en mente sin improtar como me encuentres. Ser millonario. No se cuanto tarde, ni como lo lograre, pero estoy decidido a lograrlo.
            Tal vez la promgramacion no sea algo permanente para mi ya que me costo un mundo conseguir que me llamara la atencion, 
            ahora que entiendo mayoritariamente lo que hago o codifico, quizas si lo sea, pero aun sigo aprendiendo dia a dia. 
            La verdad es que yo no lo se, pero me entretengo haciendo este tipo de paginas, me gustaria que termine siendo algo mas que hobbie y manejarme
            bien en el tema de la programacion en un futuro cercano. Actualmente me encuentro cursando una carrera llamada Analista Programador Computacional,
            en la cual solo me falta aprobar un ramo para lograr titularme con exito (Portafolio y Practica ya rendidos y aprobados). Pero debido a las
            constantes contingencias en mi pais, aun no he podido terminar dicho ramo. Actualmente me encuentro reforzando mis tecnicas de python con django,
            utilizando github y pythonanywhere como host para este blog.
            <b>pagina esta completamente realizada en Pythonanywhere y Github.</b> 
        </p>
    </div>
</div>
{% endblock %}


<!-- CAMBIAR LAS FOTOS DE TODO !!-->