{% extends 'core/base.html' %}

{% load static %}

{% block title %}Contacto{% endblock %}

{% block background %}{% static 'core/img/espaciofondo.jpg' %}{% endblock %}

{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Consulte con confianza</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Numero de contacto.
            Disponible en caso de trabajo.

            Asesorias sobre diseños. Ayudantias u otros simplemente contactarse.

        </p>
        <br>
        <p><b>Teléfono:</b> +569******</p>
        <p><b>Honorarios:</b> $***** CLP/h (precio base)</p>
    </div>
</div>
{% endblock %}

<!-- CAMBIAR LAS FOTOS DE TODO !!-->